{% load static %}
<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Sign up</title>
    <link rel="stylesheet" href="{% static 'loginstyle.css' %}">
</head>
<body>
<div class="center">
    <h1>Sign up</h1>
    <form method="POST">
        {% csrf_token %}


        <div class="txt_field">
            <input type="text" name="name" required>
            <span></span>
            <label>Full Name</label>
        </div>
        <div class="txt_field">
            <input type="email" name="email" required>
            <span></span>
            <label>Email</label>
        </div>
        <div class="txt_field">
            <input type="text" name="uname" required>
            <span></span>
            <label>Username</label>
        </div>
        <div class="txt_field">
            <input type="password" name="password1" required>
            <span></span>
            <label>Password1</label>
        </div>
        <div class="txt_field">
            <input type="password" name="password2" required>
            <span></span>
            <label>Confirm password</label>
        </div>
        <div class="txt_field">
            <input type="text" name="address" required>
            <span></span>
            <label>Address</label>
        </div>
        <div class="txt_field">
            <input type="text" name="phone" required>
            <span></span>
            <label>Phone no.</label>
        </div>


        <input type="submit" value="Register">

    </form>
</div>

</body>
</html>
