
{% load static %}
{% block content %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'showcartStyle.css' %}">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <title>cart</title>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Product name</th>
                            <th scope="col">Size</th>
                            <th scope="col">Color</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>

                        </tr>
                    </thead>
                    <tbody>
                    {% for c in cart %}
                        <tr>
                            <td><img src="{{c.item.image.url}}" alt=""></td>
                            <td>{{c.item.productName}}</td>
                            <td>{{c.size}}</td>
                            <td>{{c.color}}</td>
                            <td>{{c.item.price}}</td>
                            <td> <a href="{% url 'update_add_single_element' c.id %}" style="color:green;text-decoration: none;">+</a>   {{c.quantity}}
                            <a href="{% url 'update_delete_single_element' c.id %}" style="color:red;text-decoration: none; ">-</a> </td>
                            <td class="amount">{{c.get_total}}</td>
                            <td><a href="{% url 'delete_from_cart' c.id%}"><i class="fas fa-trash-alt" style="color: Red;"></i></a></td>

                        </tr>
                       {% endfor%}
                    </tbody>
                </table>
            </div>
            <div class="cd">
                <div class="card " style="width: 25rem;">
                    <h3 class="heading">Cart Total</h3>
                    <hr>
                    <div class="card-body">
                        <h6 class="card-title">Subtotal : {{order.get_total_price}}</h6>
                        <hr>
                        
                        <form method="post">
                            {% csrf_token %}
                            <h6 class="">Payment type:</h6>
                            <input type="radio" id="html" name="onlinePayment" value="Online payment" class = "payment" >
                            <label for="html">Online payment</label><br>
                            <input style="margin-left:9px;" type="radio" id="css" name="cashOnDelivery" value="cash on delivery">
                            <label for="css" >Cash on delivery</label ><br>
                            <hr>
                            <input type="text" name = "couponCode" style="width: 5rem; margin-left: 5px;"> <button  class="coupon" name = "coupon">Apply Coupon </button> 
                            <br>
                            <hr>
                            <h6 class="card-title">Total : {{addCoupon}}</h6>
                            <br>
                            <hr>
                            <button class="check" name = "checkout" >Proced to checkout</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>
{% endblock content %} 